<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hiyoung.manage.leads.dao.LeadsMapper">
  <resultMap id="BaseResultMap" type="com.hiyoung.manage.leads.entity.Leads">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="mobil" jdbcType="VARCHAR" property="mobil" />
    <result column="leads_name" jdbcType="VARCHAR" property="leadsName" />
    <result column="update_time" jdbcType="VARCHAR" property="updateTime" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="blame" jdbcType="VARCHAR" property="blame" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="next_contact_time" jdbcType="VARCHAR" property="nextContactTime" />
    <result column="create_person" jdbcType="VARCHAR" property="createPerson" />
    <result column="leads_orgin" jdbcType="VARCHAR" property="leadsOrgin" />
    <result column="customer_level" jdbcType="INTEGER" property="customerLevel" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="state" jdbcType="INTEGER" property="state" />
  </resultMap>
  <sql id="Base_Column_List">
    id, mobil, leads_name,update_time, create_time, blame, address, next_contact_time, create_person,
    leads_orgin, customer_level, remark,telephone,state
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_leads
    where id = #{id,jdbcType=INTEGER}
  </select>


  <select id="getLeadsList" resultMap="BaseResultMap">
    select  * from  tb_leads WHERE state=1  limit #{page},#{size}


  </select>


  <delete id="getDelleads" >
      update tb_leads set state=0 where id=#{id}
  </delete>


  <select id="getCount" resultType="int">

   SELECT COUNT(*)FROM tb_leads WHERE state=1

  </select>



  <insert id="addLeads" parameterType="com.hiyoung.manage.leads.entity.Leads" >
    insert into tb_leads ( id, mobil, leads_name,update_time, create_time, blame, address, next_contact_time, create_person,
    leads_orgin, customer_level, remark,telephone,state)
    values (#{id,jdbcType=INTEGER}, #{mobil,jdbcType=VARCHAR},#{leadsName,jdbcType=VARCHAR},#{updateTime,jdbcType=VARCHAR},
      #{createTime,jdbcType=VARCHAR}, #{blame,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
      #{nextContactTime,jdbcType=VARCHAR}, #{createPerson,jdbcType=VARCHAR}, #{leadsOrgin,jdbcType=VARCHAR},
      #{customerLevel,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR},#{telephone.jdbcType=VARCHAR},#{state.jdbcType=INTEGER})
  </insert>




</mapper>